@page "/dashboard"

Dashboard

<PanelReusable Title="Still a panel" >
    <p>This really could be anything: table, image, graph...</p>
</PanelReusable>
<PanelReusable Title="Speak for yourself" />

@code {

}
